papers/*
other/*
plots/for_paper/*
.idea/*
__pycache__/*
src/__pycache__/*
src/utils/__pycache__
src/utils/__pycache__/*
data/*
venv/*
logs/lowpow/pca_based/*
logs/highpow/pca_based/*
gitadd.sh
*.pt
stdout.txt
logs/*